.submission__content {
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
  }
 
.submission-header {
    display: flex;
    height: 4rem;
    padding-bottom: 4px;
}

.submission-header .buttons {
    margin-left: auto;
    height: 100%;
    padding: 0rem 1.5rem;
    vertical-align: middle;
    text-align: center;
  }